<div class="panel panel-warning component-panel">
<div class="panel-heading">

    <!-- Debug JSON-->
    <div class="row" *ngIf="debug">
        <prettyjson class="col-md-12" [obj]="condition"></prettyjson>
    </div>
 
    <!-- Condition Selection -->
    <div class="row">
        <div class="col-md-12"> <!-- layout in a single row -->
            <div class="pull-left">
                <label for="condition" class="control-label">Condition:</label>  
                <p-dropdown id="condition" [options]="uiConditionOptions" [(ngModel)]="uiCondition" 
                    (onChange)="onConditionChange()" placeholder="Select Condition">
                </p-dropdown>
            </div>

            <div class="pull-right">
                <button pButton label="Remove" type="button" (click)="onRemoveClick()"></button>
            </div>
        </div>
    </div>

</div> <!-- End panel heading -->

<!-- Panel Body -->
<div class="panel-body">

    <!-- Sub conditions -->
    <div *ngIf="(uiCondition == 'and') || (uiCondition =='or')" class="">
        <div *ngFor="let cond of condition.conditions; let i = index" class="">
            <rule-condition class=""
                [condition]="cond"
                (onReCreate)='onConditionReCreate($event, i)' 
                (onRemove)='onConditionRemove(i)'>
            </rule-condition>
        </div>
    </div>

    <div *ngIf="(uiCondition == 'state') || (uiCondition == 'numeric_state') || uiCondition == 'zone'" class="form-group">
        
        <!-- Entity ID -->
        <div class="pull-left">
            <label for="entity.id" class="control-label">Entity Id:</label>  
            <p-dropdown id="entity.id"
                [options]="uiEntityIdOptions" 
                [(ngModel)]="uiEntityId" 
                filter=true
                (onChange)="onChange()" 
                placeholder="Select Entity ID">
            </p-dropdown>
        </div>

        <!-- State Condition -->
        <div *ngIf="uiCondition == 'state'" class="pull-left" style="padding-left: 10px">
            <!--<div class="form-group">-->
                <label for="state" class="control-label">State:</label>
                <input type="text" pInputText id="state"
                    [(ngModel)]="uiState" 
                    (blur)="onChange()" 
                    (keyup.enter)="onChange()"/>
            <!--</div>-->
        </div>

        <!-- Above/Below numeric state -->
        <div *ngIf="uiCondition == 'numeric_state'" class="pull-left">
            <!-- Above Value -->
            <!--<div class="form-group">-->
                <label for="above.value" class="control-label" style="padding-left: 10px">Above:</label> 
                <p-spinner id="above.value" size="10" 
                    [(ngModel)]="uiAboveValue" 
                    (onChange)="onChange()">
                </p-spinner>
            <!--</div>-->
            <!-- Below Value -->
            <!--<div class="form-group">-->
                <label for="below.value" class="control-label" style="padding-left: 10px">Below:</label>
                <p-spinner id="below.value" size="10" 
                    [(ngModel)]="uiBelowValue" 
                    (onChange)="onChange()">
                </p-spinner>
            <!--</div>-->
        </div>

        <!-- Zone Condition -->
        <div *ngIf="uiCondition == 'zone'" class="pull-left" style="padding-left: 10px">
                <label for="zone">Zone:</label>
                <p-dropdown id="zone" 
                    [options]="uiZoneOptions" 
                    [(ngModel)]="uiZone"
                    (onChange)="onChange()" 
                    placeholder="Select Zone">
                </p-dropdown>
        </div>


    </div>



    <!-- Sun Condition -->
    <div *ngIf="uiCondition == 'sun'" class="form-group">
        <!-- Sun After -->
        <div class="pull-left">
            <label for="sun.after" class="control-label">After:</label>
            <p-dropdown id="sun.after" 
                [options]="uiSunOptions" 
                [(ngModel)]="uiSunAfter"
                (onChange)="onChange()" 
                placeholder="Select">
            </p-dropdown>
        </div>
        <!-- Sun After Offset -->
        <div class="pull-left" style="padding-left: 10px">
            <label for="after.offset" class="control-label">After offset:</label>
            <p-inputMask id="after.offset"
                mask="99:99:99" 
                [(ngModel)]="uiSunAfterOffset" 
                placeholder="HH:MM:SS" 
                (onComplete)="onChange()">
            </p-inputMask>
        </div>
        <!-- Sun Before -->
        <div class="pull-left" style="padding-left: 10px">
            <label for="sun.before" class="control-label">Before:</label> 
            <p-dropdown id="sun.before" 
                [options]="uiSunOptions" 
                [(ngModel)]="uiSunBefore"
                (onChange)="onChange()" 
                placeholder="Select"> 
            </p-dropdown>
        </div>
        <!-- Sun Before Offset -->
        <div class="pull-left" style="padding-left: 10px">
            <label for="before.offset" class="control-label">Before offset:</label>
            <p-inputMask id="before.offset" 
                mask="99:99:99" 
                [(ngModel)]="uiSunBeforeOffset" 
                placeholder="HH:MM:SS" 
                (onComplete)="onChange()">
            </p-inputMask>
        </div>
    </div>

    <!-- Time Condition-->
    <div *ngIf="uiCondition == 'time'">
        <div  class="form-group">
            <!-- Time After -->
            <div class="pull-left">
                <label for="time.after" class="control-label">After:</label>
                <p-inputMask ngDefaultControl id="time.after"
                    mask="99:99:99" 
                    [(ngModel)]="uiTimeAfter" 
                    placeholder="HH:MM:SS" 
                    (onComplete)="onChange()">
                </p-inputMask>
            </div>
            <!-- Time Before -->
            <div class="pull-left" style="padding-left: 10px">
                <label for="time.before" class="control-label">Before:</label>
                <p-inputMask ngDefaultControl id="time.before"
                    mask="99:99:99" 
                    [(ngModel)]="uiTimeBefore" 
                    placeholder="HH:MM:SS" 
                    (onComplete)="onChange()">
                </p-inputMask>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- Time Weekday -->
        <div class="form-group">
            <p-selectButton ngDefaultControl
                [options]="uiTimeWeekdayOptions" 
                [(ngModel)]="uiTimeWeekday" 
                multiple="multiple" 
                (onChange)="onChange()">
            </p-selectButton>
        </div>
        <div class=""> 
            <label for="time.timezone" class="control-label">Timezone:</label>  
            <p-dropdown id="time.timezone" class=""
                [options]="uiTimeTimezoneOptions" [(ngModel)]="uiTimeTimezone"
                (onChange)="onChange()" placeholder="Select Timezone" >
            </p-dropdown>                        
        </div>
    </div>


    <div *ngIf="(uiCondition == 'and') || (uiCondition =='or')" class="">
        <!--&nbsp;&nbsp;&nbsp;-->
        <button pButton label="Add" type="button" (click)="onAddClick()"></button>
    </div>

</div>
</div>
