<div class="panel panel-primary" >

    <!-- Rule Metadata: panel-heading -->
    <div class="panel-heading">

        <div class="form-horizontal">

            <div class="form-group">
                <label for="rule.id" class="control-label col-md-1">Rule ID:</label>
                <div class="col-md-2">
                    <input type="text" id="rule.id" class="form-control" pInputText [ngModel]="rule.id" readonly/>
                </div>

                <label for="rule.group" class="control-label col-md-1">Group:</label>
                <div class="col-md-2">
                    <input pInputText type="text" id="rule.group" 
                        class="form-control"  
                        [(ngModel)]="rule.group"
                        (change)="onMetadataChange()" />
                </div>

                <div class="col-md-4">
                    <label for="rule.enabled" class="control-label">Enabled:</label>
                    <p-checkbox id="rule.enabled" binary="true" 
                        [(ngModel)]="rule.enabled" 
                        (onChange)="onEnabledChange($event)">
                    </p-checkbox>
                    <!--<p-inputSwitch id="rule.enabled" inputId="rule.enabled" [(ngModel)]="rule.enabled"></p-inputSwitch>-->
                </div>

                <div class="col-md-2">
                    <!--<button pButton label="Save" type="button" class=""  (click)="onSaveClick()"></button>-->
                    <button *ngIf="stateFlags.needsSave" class="btn btn-danger pull-right" (click)="onSaveClick()">Needs Saving</button>

                </div>
            </div>

            <div class="form-group">
                <label for="rule.description" class="control-label col-md-1">Description:</label>
                <div class="col-md-11">
                    <input pInputText type="text" id="rule.description" 
                        class="form-control" 
                        [(ngModel)]="rule.description"
                        (change)="onMetadataChange()" />
                </div>
            </div>

            <div class="form-group"  style="margin-bottom: 0px">
                <p-panel header="Notes" class="col-md-12"
                    [toggleable]="true" 
                    [collapsed]="true">
                    <textarea pInputTextarea rows="5" cols="30" autoResize="autoResize" class="form-control"
                        [(ngModel)]="rule.notes"  
                        (change)="onMetadataChange()">
                    </textarea>
                </p-panel>

            </div>

        </div>
    </div>  <!--> End panel-heading -->
    
    <!-- Panel Body-->
    <div class="panel-body rule-panel-body">

        <!-- Triggers -->
        <div class="col-md-12 rule-section bg-info">
            <div class="col-md-12">
                <h4>Triggers</h4>
            </div>
            <div *ngFor="let trigger of rule.triggers; let i = index" class="">
                <div class="col-md-6">
                    <rule-trigger 
                        [trigger]="trigger"
                        (onReCreate)='onTriggerReCreate($event, i)' 
                        (onRemove)='onTriggerRemove(i)'>
                    </rule-trigger>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <button pButton label="Add Trigger" type="button" (click)="onAddTriggerClick()"></button>
            </div>
        </div>

        <!-- Condition -->
        <div class="col-md-12 rule-section bg-warning">
            <div class="col-md-12">
                <h4>Conditions</h4>
            </div>
            <div *ngIf="rule.condition != null" class="col-md-12">
                <rule-condition 
                    [condition]="rule.condition"
                    (onReCreate)='onConditionReCreate($event)' 
                    (onRemove)='onConditionRemove()'>
                </rule-condition>      
            </div>
            <div class="col-md-12 form-group">
                <button pButton *ngIf="rule.condition == null" 
                    label="Add Condition" 
                    type="button" 
                    (click)="onAddConditionClick()">
                </button>
            </div>
        </div>

        <!-- Action Sequence -->
        <div class="col-md-12 rule-section bg-success">
            <div class="col-md-12">
                <h4>Action Sequences</h4>
            </div>
            <div *ngFor="let actionSeq of rule.action_sequences; let i = index" class="col-md-12">
                <rule-action-seq 
                    [actionSeq]="actionSeq" 
                    (onRemove)="onActionSequenceRemove(i)"
                    (onChange)="onActionSequenceChange(i)">
                </rule-action-seq>
            </div>
            <div class="col-md-12 form-group">
                <button pButton 
                    label="Add Action Sequence" 
                    type="button" 
                    (click)="onAddActionSequenceClick()">
                </button>
            </div>
        </div>


    </div> <!-- End panel-body -->   


    <div class="panel-footer">
        <div class="row">
        <div class="col-md-12">
            <button class="btn btn-danger pull-left" (click)="onDeleteClick()">Delete Rule</button>
        </div>
        </div>
    </div>
    <div class="panel-footer no-padding">
        <p-panel header="Rule JSON" [toggleable]="true" [collapsed]="true">
            <prettyjson [obj]="rule"></prettyjson>
        </p-panel>
    </div>

</div>  <!-- Panel: AutomationRule -->

<!-- Delete Rule Dialg -->
<p-confirmDialog header="Delete rule?" width="425"></p-confirmDialog>


<!-- Save Rule Dialog -->
<!--<p-dialog header="Title" [(visible)]="showDialog" modal="modal">
    <prettyjson [obj]="dialogContent"></prettyjson>
</p-dialog>-->