<div class="panel panel-info component-panel">
<div class="panel-heading">
    
    <!-- Debug JSON-->
    <div class="row" *ngIf="debug">
        <prettyjson class="col-md-12" [obj]="trigger"></prettyjson>
    </div>

    <!-- Platform selection -->
    <div class="row">
        <div class="col-md-12">  
            <label for="platform" class="control-label">Platform:</label>  
            <p-dropdown id="platform" [options]="uiPlatformOptions" [(ngModel)]="uiPlatform" 
                        (onChange)="onPlatformChange()" placeholder="Select Platform">
            </p-dropdown>
            <div class=" pull-right">
                <button pButton label="Remove" type="button" (click)="onRemoveClick()"></button>
            </div>
        </div>
    </div>

</div>  <!-- End panel heading -->

<!-- Panel body -->
<div class="panel-body">

    <!--Entity Id:-->
    <div *ngIf="(uiPlatform == 'state') || (uiPlatform == 'numeric_state')" class="">
        <div class="form-group">    
            <label for="entity.id" class="">Entity ID:</label>  
            <p-dropdown id="entity.id" class=""
                [options]="uiEntityIdOptions" [(ngModel)]="uiEntityId" filter=true
                (onChange)="onChange()" placeholder="Select Entity ID" >
            </p-dropdown>
        </div>
    </div>

    <!-- To/From State -->
    <div *ngIf="(uiPlatform == 'state')">
        <div class="form-group">
            <label for="to.state" class="control-label">To State:</label>  
            <input type="text" id="to.state" pInputText size="15"
                [(ngModel)]="uiToState" (blur)="onChange()" (keyup.enter)="onChange()"/>
        </div>
        <div class="">
            <label for="from.state" class="control-label">From State:</label>  
            <input type="text" id="from.state" pInputText size="15"
                [(ngModel)]="uiFromState" (blur)="onChange()" (keyup.enter)="onChange()"/>
        </div>
    </div>

    <!-- Above/Below numeric state -->
    <div *ngIf="(uiPlatform == 'numeric_state')">
        <div class="form-group">
            <label for="above.value" class="control-label">Above value:</label>  
            <p-spinner id="above.value" size="10" [(ngModel)]="uiAboveValue" (onChange)="onChange()"></p-spinner>
        </div>
        <div class="">
            <label for="below.value" class="control-label">Below value:</label>  
            <p-spinner id="below.value" size="10" [(ngModel)]="uiBelowValue" (onChange)="onChange()"></p-spinner>
        </div>
    </div>

    <div *ngIf="(uiPlatform == 'event')">
        <div class="form-group">
            <label for="event.type" class="control-label">Event type:</label>  
            <p-dropdown id="event.type" [options]="uiEventTypeOptions" [(ngModel)]="uiEventType"
                (onChange)="onChange()" placeholder="Select Event Type">
            </p-dropdown>    
        </div>

        <div class="">
            <label for="event.data" class="control-label">Event data:</label>  
            <input type="text" pInputText id="event.data" size="50"
                [(ngModel)]="uiEventDataObj" (blur)="onChange()" (keyup.enter)="onChange()"/>
        </div>
    </div>

</div>  <!-- End panel body -->