<div class="container">
<div class="row">

<div class="col-md-12">
<div class="panel panel-primary">    
    <div class="panel-heading">
        Data Field Object
    </div>
    
    <div class="panel-body">
        <div *ngIf="debug">
            <prettyjson [obj]="obj"></prettyjson>
            <prettyjson [obj]="fieldsObj"></prettyjson>
        </div>

        <div>
            <button pButton label="Add" type="button" (click)="onAddClick()"></button>
        </div>

        <div *ngFor="let field of fieldKeys; index as i; trackBy: trackByIndex">
            {{i}} <input type="text" pInputText size="15"
                [(ngModel)]="fieldKeys[i]"
                (blur)="onKeyChange(i)" 
                (keyup.enter)="onKeyChange(i)"
            />
            <b>:</b>
            <input type="text" pInputText size="50"
                [(ngModel)]="fieldValues[i]"
                (blur)="onValueChange(i)" 
                (keyup.enter)="onValueChange(i)"
            />
            <button pButton label="X" type="button" (click)="onRemoveClick(i)"></button>

            {{fieldKeys[i]}}: {{fieldValues[i]}}

        </div>

    </div>


</div>
</div>

</div>
</div>