<div class="row">

<div class="col-md-12">
<div class="panel panel-default">    
    <div class="panel-heading">
        Data Fields
    </div>
    
    <div class="panel-body">
        <div *ngIf="debug">
            <prettyjson [obj]="obj"></prettyjson>
        </div>

        <div *ngFor="let field of fieldKeys; index as i; trackBy: trackByIndex">
            
            <div *ngIf="fieldKeys[i] == 'entity_id'; else normalField">
                <input type="text" pInputText size="15" readonly
                    style="background-color: #ffffe0"
                    [(ngModel)]="fieldKeys[i]"
                    (blur)="onKeyChange(i)" 
                    (keyup.enter)="onKeyChange(i)"
                />
                <b>:</b>
                <p-dropdown id="entity.id"
                    [options]="uiEntityIdOptions" [(ngModel)]="fieldValues[i]" filter=true
                    (onChange)="onValueChange(i)" placeholder="Select Entity ID" >
                </p-dropdown>
                <button pButton label="X" type="button" (click)="onRemoveClick(i)"></button>
                <!--{{fieldKeys[i]}}: {{fieldValues[i]}}-->
            </div>
            
            <ng-template #normalField>
                    <input type="text" pInputText size="{{keyFieldLength}}"
                        [(ngModel)]="fieldKeys[i]"
                        (blur)="onKeyChange(i)" 
                        (keyup.enter)="onKeyChange(i)"
                    />
                    <b>:</b>
                    <input type="text" pInputText size="{{valFieldLength}}"
                        [(ngModel)]="fieldValues[i]"
                        (blur)="onValueChange(i)" 
                        (keyup.enter)="onValueChange(i)"
                    />
                    <button pButton label="X" type="button" (click)="onRemoveClick(i)"></button>
                    <!--{{fieldKeys[i]}}: {{fieldValues[i]}}-->
            </ng-template>
        
        </div>
        <div style="margin-top: 10px">
            <button pButton label="Add" type="button" (click)="onAddClick()"></button>
        </div>
    </div>


</div>
</div>

</div>
