<div class="container">

    <div class="row" *ngIf="debug">
        <div class="col-lg-12">
            {{jsonString}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">Condition: 
            <p-dropdown [options]="uiConditionOptions" [(ngModel)]="condition.condition" 
                (onChange)="onConditionChange()" placeholder="Select Condition">
            </p-dropdown>
            <button pButton label="Remove" type="button" (click)="onRemoveClick()"></button>
        </div>
    </div>

    <div *ngIf="(condition.condition == 'and') || (condition.condition =='or')">
      <button pButton label="Add" type="button" (click)="onAddClick()"></button>
      <div *ngIf="condition.condition != null">
        <div class="row" *ngFor="let cond of condition.conditions; let i = index">
          <rule-condition [condition]="cond" [parentCondition]="condition" [parentIndex]="i"></rule-condition>
        </div>
      </div>
    </div>

    <div class="row">
      <div *ngIf="(condition.condition == 'state') || (condition.condition == 'numeric_state') || condition.condition == 'zone'">
        <!-- Entity ID -->
        <div class="col-lg-4">Entity Id:
            <p-dropdown [options]="uiEntityIdOptions" [(ngModel)]="condition.entity_id" filter=true
            (onChange)="onChange()" placeholder="Select Entity ID">
            </p-dropdown>
        </div>
      </div>

      <div *ngIf="condition.condition == 'state'">
        <!-- State -->
        <div class="col-lg-4">State: 
          <input type="text" pInputText [(ngModel)]="condition.state" (keyup)="onChange()"/>
        </div>
      </div>

      <div *ngIf="condition.condition == 'numeric_state'">
        <!-- Above Value -->
        <div class="col-lg-2">Above: 
          <p-spinner size="10" [(ngModel)]="condition.above_value" (onChange)="onChange()"></p-spinner>
        </div>
        <!-- Below Value -->
        <div class="col-lg-2">Below: 
          <p-spinner size="10" [(ngModel)]="condition.below_value" (onChange)="onChange()"></p-spinner>
        </div>
      </div>


      <div *ngIf="condition.condition == 'sun'">
        <!-- Sun After -->
        <div class="col-lg-2">After: 
          <p-dropdown [options]="uiSunOptions" [(ngModel)]="condition.after"
            (onChange)="onChange()" placeholder="Select">
          </p-dropdown>
        </div>
        <!-- Sun After Offset -->
        <div class="col-lg-3">After offset: {{uiSunAfterOffset}}
          <p-inputMask mask="99:99:99" [(ngModel)]="condition.after_offset" placeholder="HH:MM:SS"></p-inputMask>
        </div>
        <!-- Sun Before -->
        <div class="col-lg-2">Before: 
          <p-dropdown [options]="uiSunOptions" [(ngModel)]="condition.before"
            (onChange)="onChange()" placeholder="Select"> 
          </p-dropdown>
        </div>
        <!-- Sun Before Offset -->
        <div class="col-lg-3">Before offset: 
          <p-inputMask mask="99:99:99" [(ngModel)]="condition.before_offset" placeholder="HH:MM:SS"></p-inputMask>
        </div>
      </div>

      <div *ngIf="condition.condition == 'time'">
        <!-- Time After -->
        <div class="col-lg-3">After: 
          <p-inputMask mask="99:99:99" [(ngModel)]="condition.after" placeholder="HH:MM:SS"></p-inputMask>
        </div>
        <!-- Time Before -->
        <div class="col-lg-3">Before: 
          <p-inputMask mask="99:99:99" [(ngModel)]="condition.before" placeholder="HH:MM:SS"></p-inputMask>
        </div>
        <!-- Time Weekday -->
        <div class="col-lg-4">
          <p-selectButton [options]="uiTimeWeekdayOptions" [(ngModel)]="condition.weekday" 
            multiple="multiple" (onChange)="onChange()">
          </p-selectButton>
        </div>
      </div>

      <div *ngIf="condition.condition == 'zone'">
        <div class="col-lg-2">Zone: 
          <p-dropdown [options]="uiZoneOptions" [(ngModel)]="condition.zone"
            (onChange)="onChange()" placeholder="Select Zone">
          </p-dropdown>
        </div>
      </div>



    </div>
    <div class="row" *ngIf="saveNeeded">
      <div class="col-lg-2">
        <button pButton label="Save" type="button" (click)="onSaveClick()"></button>
      </div>
    </div>


</div>
