<div>
    <div class="row panel-heading">
        <div class="col-lg-2">ID: {{rule.id}}</div>
        <div class="col-lg-2">Group: {{rule.group}}</div>
        <div class="col-lg-6">Description: {{rule.description}}</div>
        <div class="col-lg-2">Enabled: {{rule.enabled}}</div>
        
        <button pButton label="Add Trigger" type="button" (click)="onAddTriggerClick(rule)"></button>
        <button pButton *ngIf="rule.condition == null" label="Add Condition" type="button" (click)="onAddConditionClick()"></button>

    </div>

    <!-- Triggers -->
    <div *ngFor="let trigger of rule.triggers; let i = index">
        <div class="row panel-body bg-success">
            <!--<rule-trigger [rule]="rule" [triggerIndex]="i"></rule-trigger>-->
            <rule-trigger [trigger]="trigger" [index]="i" 
                (onReCreate)='onTriggerReCreate($event, i)' (onRemove)='onTriggerRemove(i)'>
            </rule-trigger>
        </div>
    </div>

    <!-- Condition -->
    <div class="row panel-body bg-warning" *ngIf="rule.condition != null">
        <div class="col-lg-12">
            <rule-condition [condition]="rule.condition" [parent]="rule"></rule-condition>      
        </div>
    </div>

    <!-- Action Sequence -->
    <div class="row panel-body bg-info" *ngFor="let actionSeq of rule.action_sequences; let i = index">
        <div class="col-lg-12" >
            <rule-action-seq [actionSeq]="actionSeq"></rule-action-seq>
        </div>
    </div>

    <div class="row panel-footer">
        <prettyjson class="col-lg-11" [obj]="rule"></prettyjson>
    </div>
</div>