<!--<div class="container">-->
    <div *ngIf="service == null" class="">
            <div class="col-lg-4">Please select a service to see service info</div>
    </div>

    <div *ngIf="serviceInfo != null">
        
        <div *ngIf="debug" class="" >
            <prettyjson class="" [obj]="serviceInfo"></prettyjson>
        </div>

        <!--<div class="row">-->
        <div *ngIf="serviceInfo.description.length > 0" class="form-group">
            <b>Description: </b>{{serviceInfo.description}}
        </div>
        <!--</div>-->
        
        <div *ngIf="serviceInfo.fields.length > 0">
            <div class="">
                <table class="table table-bordered table-condensed">
                    <thead class="bg-info">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Example</th>
                        </tr>
                    </thead>
                    <tbody class="bg-warning">
                        <tr *ngFor="let field of serviceInfo.fields">
                            <td>{{field.name}}</td>
                            <td>{{field.description}}</td>
                            <td>{{field.example}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div *ngIf="serviceInfo.fields.length == 0">
            <div class="">
                <b>No field information available</b>
            </div>
        </div>

    </div>
<!--</div>-->