<div class="container">
    <div class="row" *ngIf="service == null">
            <div class="col-lg-4">Please select a service to see service info</div>
    </div>

    <div *ngIf="serviceInfo != null">
        
        <div class="row" *ngIf="debug">
            <prettyjson class="col-lg-10" [obj]="serviceInfo"></prettyjson>
        </div>

        <div class="row">
            <div class="col-lg-11">
                <div><b>Domain:</b> {{serviceInfo.domain}} | 
                <b>Service:</b> {{serviceInfo.service_name}} | 
                <b>Description:</b> {{serviceInfo.description}}</div>
            </div>
        </div>
        
        <div class="row" *ngIf="serviceInfo.fields.length > 0">
            <div class="col-lg-11">
                <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Example</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let field of serviceInfo.fields">
                            <td>{{field.name}}</td>
                            <td>{{field.description}}</td>
                            <td>{{field.example}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" *ngIf="serviceInfo.fields.length == 0">
            <div class="col-lg-4">
                <b>No field information available</b>
            </div>
        </div>

    </div>
</div>