<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="">Ottomation UI</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a [routerLink]="['/rule-list']">Rule List</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
        <button class="btn btn-danger navbar-btn" (click)="onAddClick()">Add Automation</button>

    </div>
</nav>

<p-growl [(value)]="growl.messages" life=5000></p-growl>


<!--<div style="margin-top: 50px">&nbsp;</div>-->
<router-outlet></router-outlet>

