<div class="container">
<div class="row">
<!--<div class="col-md-12">-->


<div *ngFor="let group of groups">
<div class="panel panel-primary">

  <div class="panel-heading" >
    <div class="row">
      <div class=" col-md-12"> 
        <b>{{group.group}}</b>
      </div>
    </div>
  </div>

  <div class="panel-body">

      <!--<table class="table">
        <thead>
          <tr>
            <th class="col-md-2">Rule ID</th>
            <th class="col-md-9">Description</th>
            <th class="col-md-1 text-center">Enabled</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let rule of group.rules">
            <td class="col-md-2">
              <a [routerLink]="['/rule', rule.id]">{{rule.id}}</a>  
            </td>
            <td class="col-md-9">{{rule.description}}</td>
            <td class="col-md-1 text-center">
              <p-checkbox [(ngModel)]="rule.enabled" binary="true" (onChange)="onEnabledChange($event, rule.id)"></p-checkbox>
            </td>
          </tr>
        </tbody>
      </table>-->

      <div>
        <div *ngFor="let rule of group.rules">
          <div class="col-md-4" style="padding: 5px">
            <div class="panel panel-primary" style="margin: 0px">
              <a [routerLink]="['/rule', rule.id]" style="text-decoration: none">
                <div class="panel-body">
                    <div class="">
                      <!--<a [routerLink]="['/rule', rule.id]">{{rule.id}}</a>-->
                      <b>{{rule.id}}</b>
                      <div class="pull-right">
                        <label for="enabled" class="control-label">Enabled: </label>  
                        <p-checkbox id="enabled" binary="true"
                          [(ngModel)]="rule.enabled"
                          (onChange)="onEnabledChange($event, rule.id)">
                        </p-checkbox>
                      </div>
                    </div>
                    <div>
                      {{rule.description}}
                    </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

  </div>

</div>  <!-- panel -->
</div>  <!-- ngFor -->

</div>
<!--</div>-->
</div> <!-- container -->


