<div class="panel panel-default component-panel">
<div class="panel-heading">

    <!-- Debug JSON -->
    <div class="row" *ngIf="debug">
        <prettyjson class="col-md-12" [obj]="actionSeq"></prettyjson>
    </div>

    <div class="row">
        <div class="col-md-12" style="padding-bottom: 5px"> 
            <label class="control-label">Sequence</label>
                <a (click)="toggleDetails()" style="padding-left: 10px">
                    <span *ngIf="showDetails">Hide Details</span>
                    <span *ngIf="!showDetails">Show Details</span>                    
                </a>

            <div class=" pull-right">
                <button pButton label="Remove Sequence" type="button" (click)="onRemoveSeqClick()"></button>
            </div>
        </div>
        <div class="col-md-12">
            <input type="text" pInputText style="width: 100%"
                [(ngModel)]="actionSeq.description" 
                (blur)="onMetadataChange()" 
                (keyup.enter)="onMetadataChange()"/>
        </div>

    </div>

</div> <!-- End panel heading -->

<div class="panel-body" style="padding-bottom: 0px">

<div *ngIf="showDetails">


    <!-- Action Condition -->
    <div *ngIf='actionSeq.condition != null'>
        <rule-condition 
            [condition]="actionSeq.condition" 
            (onReCreate)='onConditionReCreate($event)' 
            (onRemove)='onConditionRemove()'>
        </rule-condition>
    </div>
    <div *ngIf='actionSeq.condition == null' class="form-group">
        <button pButton label="Add Condition" type="button" (click)="onAddConditionClick()"></button>
    </div>

    <!-- Action Items -->
    <div *ngFor="let action of actionSeq.sequence; let i = index">
        <rule-action
            [action]="action" 
            (onReCreate)='onActionReCreate($event, i)' 
            (onRemove)='onActionRemove(i)'>
        </rule-action>
    </div>

    <!-- Add Action Button-->
    <div class="form-group">
        <button pButton label="Add Action" type="button" (click)="onAddActionClick()"></button>
    </div>

</div> <!-- hidable section -->

</div> <!-- End panel body -->
</div> <!-- End panel -->