<div class="panel panel-success component-panel">
<div class="panel-heading">

    <!-- Debug JSON-->
    <div class="row" *ngIf="debug">
        <prettyjson class="col-md-12" [obj]="action"></prettyjson>
    </div>

    <!-- Action Type Selection-->
    <div class="row">
        <div class="col-md-12">
            <label for="action.type" class="control-label">Execute</label>
            <p-dropdown id="action.type" 
                [options]="uiActionTypeOptions" 
                [(ngModel)]="uiActionType" 
                (onChange)="onActionTypeChange()" 
                placeholder="Select Type">
            </p-dropdown>
            <label for="action.type" class="control-label">action</label>
            <div class="pull-right">
                <button pButton label="Remove" type="button" (click)="onRemoveClick()"></button>
            </div>
        </div>
    </div>

</div>  <!-- End panel heading -->

<!-- Panel body -->
<div class="panel-body">

    <div *ngIf="uiActionType == 'service'" class="col-md-12 no-padding form-group">
        <!-- Domain -->
        <div class="pull-left">
            <!--<div class="form-group">-->
                <label for="domain.name" class="control-label">Domain:</label>
                <p-dropdown id="domain.name"
                    [options]="uiDomainOptions" 
                    [(ngModel)]="uiDomain"
                    (onChange)="onDomainChange()" 
                    placeholder="Select Domain">
                </p-dropdown>
            <!--</div>-->
        </div>

        <!-- Service -->
        <div class="pull-left" style="padding-left: 20px">
            <!--<div class="form-group">-->
                <label for="service.type" class="control-label">Service:</label>
                <p-dropdown id="service.type"
                    [options]="uiServiceOptions" 
                    [(ngModel)]="uiService"
                    (onChange)="onChange()" 
                    placeholder="Select Service">
                </p-dropdown>
            <!--</div>-->
        </div>
    </div>

    <!-- Service Data -->
    <div *ngIf="uiActionType == 'service'" class="form-group">
        <!--<div class="form-group">
            <label for="service.data" class="control-label">Service Data:</label>
            <input type="text" pInputText 
                id="service.data"
                [(ngModel)]="uiDataObj" 
                (blur)="onChange()" 
                (keyup.enter)="onChange()"/>
        </div>-->
        
        <data-fields [obj]="uiDataObj" (onChange)="onDataChange($event)" ></data-fields>

        <div *ngIf="uiService != null">
            <service-info 
                [domain]="uiDomain" 
                [service]='uiService'>
            </service-info>
        </div>
    </div>

    <!-- Delay -->
    <div *ngIf="uiActionType == 'delay'">
        <div class="form-group">
            <label for="delay.time" class="control-label">Delay:</label>
            <p-inputMask id="delay.time"
                mask="99:99:99" 
                [(ngModel)]="uiDelay" 
                placeholder="HH:MM:SS" 
                (onComplete)="onChange()">
            </p-inputMask>
        </div>
    </div>

    <!-- Condition -->
    <div *ngIf="uiActionType == 'condition'">
        <!--<div class="form-group">
            <label for=""></label>
        Condition: -->
        <rule-condition 
            [condition]="action.condition"
            (onReCreate)='onConditionReCreate($event)' 
            (onRemove)='onConditionRemove()'>
        </rule-condition>
        <!--</div>-->
    </div>


</div>  <!-- End panel body -->
</div>  <!-- End panel -->